* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.takeCover {
	position: absolute;
  left: 767px;
  top: 653px;
  width: 75px;
  height: 115px;
	z-index: 10;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7, .hit_8  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 25;
}

.hit_pop1 {
	position: absolute;
  left: 845px;
  top: 653px;
  width: 75px;
  height: 115px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 923px;
  top: 653px;
  width: 75px;
  height: 115px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 107px;
  top: 472px;
  width: 334px;
  height: 219px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 583px;
  top: 472px;
  width: 334px;
  height: 219px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 739px;
  top: 434px;
  width: 203px;
  height: 227px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 107px;
  top: 472px;
  width: 334px;
  height: 215px;
  display: none;
	z-index: 50;
}

.hit_pop7 {
	position: absolute;
  left: 583px;
  top: 472px;
  width: 334px;
  height: 215px;
  display: none;
	z-index: 50;
}

.hit_pop8 {
	position: absolute;
  left: 612px;
  top: 629px;
  width: 232px;
  height: 62px;
  display: none;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 40;
}