*{
	margin: 0px;
	padding: 0px;
}

.s5_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s5_2 {
	position: absolute;
  left: 222px;
  top: 363px;
  width: 225px;
  height: 25px;
	animation: flash 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}

.s5_3 {
	position: absolute;
  left: 574px;
  top: 386px;
  width: 272px;
  height: 38px;
	animation: flash 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5_4 {
	position: absolute;
  left: 838px;
  top: 526px;
  width: 117px;
  height: 89px;
	animation: fadeInDown 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}


.s5_5 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.pop_open1 {
	position: absolute;
  left: 938px;
  top: 683px;
  width: 74px;
  height: 85px;
	z-index: 5;
}

.pop_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}