* {
  margin: 0px;
  padding: 0px;
}

.s7_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s7_2 {
  position: absolute;
  left: 751px;
  top: 355px;
  width: 197px;
  height: 297px;
  animation: zoomIn 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.s7_3 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.pop_open1 {
	position: absolute;
  left: 938px;
  top: 683px;
  width: 74px;
  height: 85px;
	z-index: 5;
}

.pop_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}

.s7_4 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 7;
	display: none;
}

.pop_open2 {
	position: absolute;
  left: 861px;
  top: 683px;
  width: 74px;
  height: 85px;
	z-index: 5;
}

.pop_close2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}