*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 49px;
  top: 538px;
  width: 927px;
  height: 58px;
  animation: fadeInUp 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_3 {
  position: absolute;
  left: 115px;
  top: 607px;
  width: 793px;
  height: 76px;
  animation: zoomIn 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 4;
}

.s1_4 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.pop_open1 {
	position: absolute;
  left: 938px;
  top: 683px;
  width: 74px;
  height: 85px;
	z-index: 5;
}

.pop_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}